{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block title_block %}Place Order{% endblock %}

{% block body_block %}
<style>
    /* Custom CSS for form styling */
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Adjust height as needed */
    }

    /* Style for form */
    .profile-form {
        max-width: 400px; /* Adjust width as needed */
        width: 100%;
    }

    /* Style for form elements */
    .form-control {
        margin-bottom: 10px; /* Adjust margin as needed */
    }

    /* Additional styles */
    .card-header {
        background-color: #343a40; /* Dark background color */
        color: white; /* White text color */
    }

    .card {
        margin-top: 50px; /* Adjust margin as needed */
    }

    .btn-dark {
        background-color: #343a40; /* Dark button background color */
        color: white; /* White text color */
        border: none; /* Remove border */
        padding: 10px 20px; /* Adjust padding as needed */
        cursor: pointer; /* Change cursor to pointer on hover */
    }

    .btn-dark:hover {
        background-color: #23272b; /* Darken button on hover */
    }

    /* Style for form button */
    .submit-btn {
        margin-top: 20px; /* Adjust margin as needed */
    }

</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Place Order</h5>
                </div>
                <div class="card-body">
                    <form method="post" class="profile-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-dark submit-btn">Place Order</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
