{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block title_block %}Thermal Receipt{% endblock %}

{% block body_block %}
<style>
    /* Custom CSS for Thermal Receipt styling */
    .receipt-container {
        width: 300px;
        margin: 50px auto;
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .receipt-header {
        text-align: center;
        margin-bottom: 20px;
    }

    .receipt-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    .receipt-table th, .receipt-table td {
        padding: 5px;
        border-bottom: 1px solid #ccc;
    }

    .receipt-table th {
        text-align: left;
        font-weight: bold;
    }

    .receipt-table td {
        text-align: right;
    }

    .receipt-total {
        margin-top: 20px;
        text-align: right;
    }

    .print-button {
        text-align: center;
        margin-top: 20px;
    }
</style>

<div class="receipt-container">
    {% for order, items in orders_with_items.items %}
        <div class="receipt-header">
            <h3>Brand Name</h3>
            <p>Address, City, Country</p>
            <p>Contact: 123-456-7890</p>
        </div>

        <table class="receipt-table">
            <tr>
                <th>Customer Name:</th>
                <td>{{ order.cus_name.cus_name }}</td> <!-- Assuming 'name' is a field in the customer model -->
            </tr>
            <tr>
                <th>Contact Number:</th>
                <td>{{ order.cus_name.contact_number }}</td> <!-- Assuming 'contact_info' is a field in the customer model -->
            </tr>
            <tr>
                <th>Address:</th>
                <td>{{ order.cus_name.address }}</td> <!-- Assuming 'address' is a field in the customer model -->
            </tr>
            {% for item in items %}
                <tr>
                    <th>Product Name:</th>
                    <td>{{ item.product.product_name }}</td>
                </tr>
                <tr>
                    <th>Product Style:</th>
                    <td>{{ item.product.Style }}</td> <!-- Assuming 'style' is a field in the product model -->
                </tr>
                <tr>
                    <th>Size:</th>
                    <td>{{ order.product_size }}</td>
                </tr>
                <tr>
                    <th>Price:</th>
                    <td>${{ item.product.MRP }}</td>
                </tr>
                <tr>
                    <th>Quantity:</th>
                    <td>{{ item.quantity }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="receipt-total">
            <p>Total:&#2547 {{ order.total_price }}</p>
        </div>
    {% endfor %}
    <div class="print-button">
        <button onclick="window.print()">Print Receipt</button>
    </div>
</div>
{% endblock %}
